@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.bg {
  z-index: -2;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.circle{
  z-index: 2;
  position: relative;
  right: -70vw;
  bottom: 70vh;
  border-radius: 50%;
  min-width: 120px;
  min-height: 120px;
  width: 18vw;
  height: 18vw;
  background-color: #d14c18;
  
}
.myTitle {
  margin-left: 15%;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: -10px;
  font-weight: 100;
  margin-bottom: -15px;
  color: #000000;
  font-size: 80px;
}
.myContainer {
  background-color: #a4bde0d8;
  width: 40%;
  margin-left: -30%;
  border: solid 2px #fadd8b;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 1px #01189a54;
}
.myInput {
 color: white;
  margin: 10px 16px ;
  background-color: transparent;
  width: calc(100% - 32px);
  border: none;
  font-family: inherit;
  font-size: 22px;
  cursor: pointer;
  padding: 4px;
}

.myInput:focus{
  background-color: #fadc8ba3;
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.noTasks {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  margin: 5px 20px 5px 20px;
}

.myTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px 0px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.taskDone{
 text-decoration: line-through #fadd8b;
 color: rgba(255, 255, 255, 0.4);
}
.delete, .done{
  color: rgba(255, 255, 255, 0.1);
  margin-left: 2px;
}

.done:hover{
  transform: scale(1.1);
  color: #fadd8b;
}

.delete:hover{
  transform: scale(1.1);
  color: #d14c18;
}

.leftTasks{
  margin: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  border-top: #fadd8b 1px solid;
}
.leftTasks p{
  margin-top: 5px;
  margin-left: 18px;
}



@media (max-width: 1250px) {
  .myTitle {
    margin-left: 10%;
  }


  .myContainer {
    width: 80%;
    margin: auto;
  }
}

